h1 {
    font-size: 64px;
    font-family: "Georgia";
    color: rgb(4, 10, 20, 0.9);
    background-color: rgb(176,196,222. 0.5);
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

h2 {
    font-size: 48px;
    font-family: "Arial";
    text-align: center;
    color: rgb(0,0,0, 0.9);
    text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
}

body {
    background-color: AliceBlue;
}

img {
    display: block;
    border: 2px solid;
    border-radius: 20px 20px 20px 20px;
    margin: auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
